CALLE_MODE=demo
CALLE_API_KEY=
CALLE_BASE_URL=https://api.heycall-e.com
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
AUTH_REDIRECT_BASE_URL=http://localhost:3000
