SUPABASE_URL=https://tjtutrtjhdkwwdoovazz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqdHV0cnRqaGRrd3dkb292YXp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NjQwMDUsImV4cCI6MjA5ODM0MDAwNX0.JvoPK2YLcQPd0fshEUUbjZzEkBUs3jYEk-ACurHXnjs