CALLE_API_KEY=replace-with-a-server-side-key
CALLE_BASE_URL=https://api.heycall-e.com
CALLE_RECIPIENT_PHONE=+60100000000
CALLE_RECIPIENT_REGION=MY
CALLE_RECIPIENT_CONSENT=NO
FOUNDER_RELAY_CANDIDATE=Example Founder
FOUNDER_RELAY_GOAL=Validate a focused seven-day collaboration sprint
FOUNDER_RELAY_RUN_ID=relay-example-001
